# Python & Server 
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.log
# Katalogi z danymi serwera
server/recordings/
server/logs/
server/captures/

# Android (Global & Build)
.gradle/
build/
*/build/
local.properties
.navigation/
captures/
*.iml
.externalNativeBuild/
.cxx/

# Klucze i podpisy
*.keystore
*.jks
!debug.keystore

# Cache i logi Android Studio
*.itls
*.iws
.project
.classpath
.settings/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Pliki generowane przez system i lint
.google_services/
lint/intermediate-res/
lint/generated/

# AI & Models
training-scripts/datasets/
*.tflite
*.h5
*.onnx

# OS & Inne
.DS_Store
Thumbs.db
.vscode/
*.swp
*~